/* Variable base */
/* Mixin con Pensamiento recursivo y lógica funcional */
.alerta-5 {
  background-color: #4b0000;
  font-size: 24px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #e6e6e6;
}
.alerta-4 {
  background-color: #740000;
  font-size: 22px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #e6e6e6;
}
.alerta-3 {
  background-color: #9d0000;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #e6e6e6;
}
.alerta-2 {
  background-color: #c50000;
  font-size: 18px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #e6e6e6;
  border: 5px solid blue;
  font-weight: bold;
  color: #fff;
}
.alerta-1 {
  background-color: #ee0000;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #e6e6e6;
}
